@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<div id="app">
    online users: {{ userCount }}<br/>
    <hr/>
    <pre v-for="(user,i) in users">User {{ i+1 }}: connectionId='{{ user }}';</pre>
</div>

@section Scripts
{
    <script>
        var appVm = new Vue({
            el: '#app',
            data: {
                users: null,
                userCount: 0
            }
        });
        var connection = new signalR.HubConnection("/Hub");//, { logger: signalR.LogLevel.Information });

        connection.on("Users", users => { appVm.users = users });
        connection.on("UserCount", userCount => { appVm.userCount = userCount });

        connection.start().then(() => {
            
        });

    </script>
}

